:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --weight-regular:700;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  height:100vh;
}

section {
  height: 100vh;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

/* navbar */
#navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-white);
  padding: 20px 100px;
  font-weight: var(--weight-regular);
  color: var(--color-black);
  box-shadow: 0 3px 4px -1px black;
  position: fixed;
}

.navbar__logo {
  min-width: 100px;
  line-height: 51px;
  text-align: center;
}

.navbar__logo a {
  color: var(--color-black);
}

.navbar__menu {
  display: flex;
}

.navbar__menu .navbar__item {
  margin-right: 50px;
  line-height: 51px;
}

/* Home */

#home{
  border-bottom: 1px solid var(--color-black);
  background-color: cornflowerblue;
}

#about{
  background-color: cyan;
}

#project{
  background-color: darkgray;
}

#concat {
  background-color: darkkhaki;
}

#footer {
  height: 10vh;
  background-color: darkslategray;
}